body {
    font-family: 'Open Sans';
    margin: 0;
    display: flex;
    flex-direction: column;
  }

.header-content {
    width:1170px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 28px;
    padding-bottom: 0;
}

p {
    margin-bottom: 11px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.header__menu__item > a {
    text-decoration: none;
    color: #f6f7f7;
}

header {
    width: 100%;
    position: relative;
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:#000000;
    opacity: 0.6;
}

.header__menu {
    display: flex;
    justify-content: end;
    font-size: 13px;
    align-items: center;
}

.header__menu__item {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 35px;
}

.header__menu__item:hover {
    text-decoration: 2px underline #606963;
}

.header-btn-close {
    visibility: hidden;
}

.header__logo {
    z-index: 1;
    width: 180px;
}

.header__intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 130px;
}

h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: #ffffff; 
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    z-index: 1;
    width: 690px;
    line-height: 75px;
}

.trends {
    height: 380px;
    width: 100%;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;

}

.trends {
    margin-top: 59px;
    height: fit-content;
}

.trends-title {
    text-align: center;
    margin-bottom: 14px;
}

.title-underline {
    display: block;
    height: 3px;
    width: 65px;
    margin: 0 auto;
    background-color: #e1d9bd;
}

.trends-container {
    position: relative;
    margin: 28px -4px;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
}

.trends-container-item {
    position: relative;
    height: 100%;
    width: 410px;
    border: 1px solid #888b79;
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 22px 15px 19px;
}

.trend-img-one {
    background-image: url('../images/trend1.jpg');
    background-size: cover;
    z-index: -2;
}

.trend-img-two {
    background-image: url('../images/trend2.jpg');
    background-size: cover;
    z-index: -2;
}

.trend-img-three {
    background-image: url('../images/trend3.jpg');
    background-size: cover;
    z-index: -2;
}

.trend-img-four {
    background-image: url('../images/trend4.jpg');
    background-size: cover;
    z-index: -2;
}

.trends-container-item::before {
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
}

.trends-container-item-content {
    border: 3px solid #78673c;
    padding: 40px 0px 37px 33px;
    margin-top: auto;
    width: initial;
}

.trends-container-item-content__category-item {
    display: inline-block;
    color:  #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
}

.trends-container-item-content__category-item:hover {
    text-decoration: 2px underline #7a7331;
}

.trends-container-item-content__title {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    text-decoration: none;
}

.trends-container-item-content__title:hover {
    color: #b59f5b;
}

.posts {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    
}

.posts-column {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.posts-sidebar {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-top: 64px;
    align-items: center;
}

.posts-column-post {
    display: flex;
    padding-right: 125px;
    margin-top: 64px;
}

.posts-column-post__picture {
    width: 380px;
    height: 294px;
}

.posts-column-post__content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.posts-column-post__content__frame {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.posts-column-post__content__frame__category {
    display: flex;
    line-height: 10px;    
}

.posts-column-post__content__frame__category-name {
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
}


.posts-column-post__content__frame__category-name:hover {
    text-decoration: 2px underline #7a7331;    
}


.posts-column-post__content__frame__title {
    margin-top: 15px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    line-height: 24px;
}

.posts-column-post__content__frame__title:hover {
    color: #b59f5b;
}

.posts-column-post__content__frame__date-author {
    margin-top: 36px;
    display: flex;
    line-height: 10px;
}

.posts-column-post__content__frame__date-author__date {
    margin-right: 15px;
}

.date {
    font-size: 12px;
    color: #999999;
    line-height: 10px;
}

.posts-column-post__content__frame__date-author__author {
    margin-right: 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
}

.posts-column-post__content__text {
    font-size: 15px;
    margin-top: 55px;
    line-height: 22px;
}

.posts-sidebar-new-posts__post {
    margin-top: 29px;
    display: flex;
}

.posts-sidebar-new-posts__post-frame {
    margin-left: 19px;
}

.posts-sidebar-new-posts__post-frame__title {
    margin-top: 6px;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: start;
}

.posts-sidebar-new-posts__post-img {
    background-color: #f4f7f6;
    width: 70px;
    height: 70px;
    
}

.posts-sidebar-search {
    margin-top: 60px;
    display: flex;
}

#search-field {
    height: 48px;
    width: 222px;
    border: none;
    background-color: #f4f7f6;
    padding: 0; 
    padding-left: 18px;
    font-size: 13px;
    box-sizing: border-box;
}

#search-submit-button {
    height: 48px;
    width: 48px;
    border-radius: 0%;
    border: none;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#search-field:focus {
    border: 1px solid #b59f5b;
    border-bottom: 1px solid #e9e5d4;
    outline: none;
    padding-left: 17px;
}

.posts-sidebar-subscribe {
    margin-top: 61px;
}

.posts-sidebar-subscribe-form {
    margin-top: 23px;
}

#subscribe-field {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: #f4f7f6;
    border: none;
    padding-left: 18px;
}

#subscribe-field:focus {
    border: 1px solid #b59f5b;
    border-bottom: 1px solid #cec299;
    outline: none;
    padding-left: 17px;
}

#subscribe-submit {
    margin-top: 17px;
    width: 100%;
    height: 49px;
    background-color: #b59f5b;
    border: none;
    border-top: 1px solid #e1d9bd;
    color:white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.posts-sidebar-tags {
    margin-top: 61px;
}

.posts-sidebar-tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.posts-sidebar-tags-container__tag {
    line-height: 9px;
    text-transform: uppercase;
    padding: 8px 14px;
    border: 3px solid #ededed;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 6px;
    color: #000000;
}

.posts-sidebar-tags-container__tag:nth-child(3n) {
    margin-left: none;
}

.posts-sidebar-tags-container__tag:hover {
    border-color: #b59f5b;
}

.posts-sidebar-categories {
    margin-top: 61px;
    width: 100%;
}

.posts-sidebar-categories-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.posts-sidebar-categories-container__item {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #eeeeee;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    padding-top: 12px;
    box-sizing: border-box;
    line-height: 13px;
    color: #000;
  }

.posts-sidebar-categories-container__item:hover {
    color: #b59f5b;
}  

.count {
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
    color:#b59f5b;
    vertical-align: super;
}

.shop {
    margin-top: 65px;
    position: relative;
}

.shop-title {
    text-align: center;
}

.shop-container {
    width: 1170px;
    margin-top: 243px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.shop-item {
    width: 347px;
}

.shop-item:nth-child(2+n) {
    margin-left: 66px;
}

.shop-item__img {
    padding-left: 23px;
    padding-right: 23px;
    position: absolute;
    top: -172px;
    z-index: -1;
}

.shop-item__content {
    bottom: 0px;
    border: 3px solid #d3c59d;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 54px 19px 0px;
    box-sizing: border-box;
}

.shop-item__content__title {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
}

.shop-item__content__description {
    margin-top: 1px;
    margin-bottom: 0;
    font-size: 15px;
}

.text-link {
    text-decoration: none;
    color: #b59f5b;
}

.shop-item__content__price-submit {
    margin-top: 24px;
    display: flex;
    position: relative;
    font-size: 14px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 49px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 9px;
}

.previous-price {
    text-decoration: line-through;
}

.actual-price {
    font-size: 20px;
    margin-bottom: 9px;
}

.shop-item__content__price-submit__submit {
    width: 140px;
    height: 49px;
    position: absolute;
    right: 0;
    text-align: center;
    background-color: #b59f5b;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

.shop-item__content__price-submit__submit:hover {
    background-color: #323232;
}

footer {
    margin: 63px auto;
    width: 1170px;
    height: 83px;
    background-color: #f4f7f6;
}

.socials {
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 100%;
    margin: 0 480px;
}    

.socials-img {
    width: 25px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    color:#999999;
    padding-top: 74px;
    padding-bottom: 38px;
}

.popup {
    background-color: rgba(33, 34, 35, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
}

.popup-form {
    position: fixed;
    width: 390px;
    height: 590px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
    left: 0;
    right: 0;
    top: 15vh;
    bottom: auto;
    padding: 53px 30px;
    box-sizing: border-box;
}

.popup-form__title {
    text-align: center;
    margin-top: 0;
    line-height: 1em;
}

.popup-form__question {
    margin-top: 32px;
    font-size: 13px;
    line-height: 1.2em;
}

.popup-form__open-page-question {
    height: 48px;
    width: 330px;
    border: none;
    border-bottom: 1px solid #e9e5d4;
    background-color: #f4f7f6;
    padding-left: 19px;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position-x: 308px;
    background-position-y: center;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.popup-form__radio-form {
    display: flex;
    align-items: center;
}

.popup-form__radio-button {
    margin-right: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../svg/form-empty-circle.svg);  
    background-size: 18px;
    height: 18px;
    width: 18px;
}

.popup-form__radio-button:checked {
    background-image: url(../svg/form-circle.svg);
}

.popup-form__radio-button-value {
    margin-right: 17px;
    margin-left: 4px;
    font-size: 13px;
}

.popup-form__desired-content {
    height: 131px;
    width: 330px;
    background-color: #f4f7f6;
    border: none;
    padding: 21px;
    box-sizing: border-box;
    resize: none;
}

.popup-form__submit {
    width:330px;
    height: 40px;
    background-color: #b59f5b;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: bold;
    margin-top: 26px;
    padding-top: 1px solid #e1d9bd;
    cursor: pointer;
}

.popup-close {
    position: absolute;
    width: 19px;
    right: 0;
    top: -27px;
}

#1 {
    height: fit-content;
}

@media (min-width: 641px) and (max-width: 1199px) {
    
    body {
        margin: 0 auto;
        font-family: 'Open Sans';
    }

    h1 {
        font-size: 40px;
    }
    
    .header__menu {
        visibility: hidden;
        position: absolute;
        right: 35px;
    }

    .header-conrent {
        width: 91%;
    }

    .header-btn-close {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23px;
        height: 20px;
    }

    .header-btn-close-shape {
        background-color: #ffffff;
        height: 2px;
        width: 100%;
    }
    .header__logo {
        left: 35px;
    }
    .header__intro {
        width: 78%;
        align-self: center;
    }
    .trends {
        margin-top: 50px;
        height: fit-content;
    }

    .trends-title {
        margin-top: 0;
    }

    .trends-container {
        flex-wrap: wrap;
        justify-content: center;
        height: 497px;
    }

    .trends-container-item {
        width: 48%;
        height: 49%;
        padding: 0 2% 2% 2%;
        box-sizing: border-box;
    }

    .trends-container-item-content__title {
        font-size: 17px;
    }

    .trends-container-item-content {
        padding: 35px;
    }

    .posts {
        width: 91%;
    }

    .posts-sidebar {
        width: 39%;
    }

    .posts-column {
        width: 60%;
    }

    .posts-column-post {
        flex-direction: column;
        margin-top: 41px;
        padding-right: 35px;
    }

    .posts-column-post__picture {
        width: 100%;
        height: 100%;
    }

    .posts-column-post:last-child > .posts-column-post__content {
        border-bottom: none;
    }

    .posts-column-post__content {
        margin-left: 0;
        width: 100%;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 23px;
    }

    .posts-column-post__content__frame {
        margin-top: 17px;
    }

    .posts-column-post__content__text {
        margin-top: 37px;
    }

    .posts-sidebar {
        width: 39%;
    }

    #search-field {
        width: 100%;
    }

    .shop {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 91%;
    }
    .shop-container {
        width:100%;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .shop-item {
        position: relative;
        margin-top: 215px;
    }

    footer {
        width: 91%;
        margin: 50px auto;  
    }

    .socials {
        margin: 0 35%;
    }

    .copyright {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .popup-form {
        top: 7vh;
    }

    .popup-close {
        position: absolute;
        width: 27px;
        right: 0;
        top: -36px;
    }
    .popup-form__radio-button {
        width:25px;
        height: 25px;
        background-size: 25px;
    }
    .popup-form__radio-button-value {
        margin-left: 6px;
    }
}

@media (max-width: 640px) {

    .trends-container {
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
        justify-content: center;
    }

    .trends-container-item {
        width: 100%;
        height: 250px;
    } 

    .posts {
        width: 91%;
    }

    .posts-column {
        width: 60%;
    }

    .posts-column-post {
        flex-direction: column;
        margin-top: 41px;
        padding-right: 35px;
    }

    .posts-column-post__picture {
        width: 100%;
        height: 100%;
    }

    .posts-column-post:last-child > .posts-column-post__content {
        border-bottom: none;
    }

    .posts-column-post__content {
        margin-left: 0;
        width: 100%;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 23px;
    }

    .posts-sidebar {
        width: 39%;
    }

    #search-field {
        width: 100%;
    }

    .shop {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 91%;
    }
    .shop-container {
        width:100%;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .shop-item {
        position: relative;
        margin-top: 215px;
    }

    footer {
        width: 100%;
        margin: 50px auto;  
    }

    .socials {
        margin: 0 35%;
    }

    .popup-form {
        top: 7vh;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and
(orientation: landscape) {
    .trends-container-item {
        width: 24%;
        padding: 0 2% 2% 2%;
        height: 100%;
    }

    .trends-container {
        height: 320px;
    }
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf'),
    url('../fonts/OpenSans-Regular.woff'),
    url('../fonts/OpenSans-Regular.woff2');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf'),
    url('../fonts/OpenSans-Bold.woff'),
    url('../fonts/OpenSans-Bold.woff2');
    font-weight: bold;
}