body {
    width: 1660px;
    margin: 0 auto;
    font-family: 'Open Sans';
}

p {
    margin-bottom: 11px;
    margin-top: 0;
}

header {
    width: 100%;
    height: 449px;
    position: relative;
    background-image: url("../images/banner-bg.jpg");;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:#000000;
    opacity: 0.6;
}

.header__menu {
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 245px;
    width: 462px;
    margin-top: 45px;
    font-size: 13px;
}

.header__menu__item {
    text-transform: uppercase;
    text-decoration: none;
    color: #f6f7f7;
}

.header__menu__item:hover {
    text-decoration: 2px underline #606963;
}

.header-btn-close {
    visibility: hidden;
}

.header__logo {
    position: absolute;
    width: 179px;
    height: 41px;
    top: 28px;
    left: 248px;
}

h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: #ffffff; 
    position: absolute;
    top: 195px;
    left: 491px;
    right: 490px;
    text-align: center;
    margin: 0;
}

.trends {
    height: 380px;
    width: 100%;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;

}

.trends {
    margin-top: 59px;
}

.trends-title {
    text-align: center;
    margin-bottom: 14px;
}

.title-underline {
    display: block;
    height: 3px;
    width: 65px;
    margin: 0 auto;
    background-color: #e1d9bd;
}

.trends-container {
    position: relative;
    margin-top: 28px;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
}

.trends-container-item {
    position: relative;
    height: 100%;
    width: 410px;
    border: 1px solid #888b79
}

.trend-img-one {
    background-image: url('../images/trend1.jpg');
    background-size: cover;
}

.trend-img-two {
    background-image: url('../images/trend2.jpg');
    background-size: cover;
}

.trend-img-three {
    background-image: url('../images/trend3.jpg');
    background-size: cover;
}

.trend-img-four {
    background-image: url('../images/trend4.jpg');
    background-size: cover;
}

.trends-container-item::before {
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
}

.trends-container-item-content {
    position: absolute;
    display: block;
    border: 3px solid #78673c;
    bottom: 15px;
    left: 20px;
    right: 22px;
    padding: 40px 0px 37px 33px;
}

.trends-container-item-content__category-item {
    display: inline-block;
    color:  #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
}

.trends-container-item-content__category-item:hover {
    text-decoration: 2px underline #7a7331;
}

.trends-container-item-content__title {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    text-decoration: none;
}

.trends-container-item-content__title:hover {
    color: #b59f5b;
}

.posts {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    
}

.posts-column {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.posts-sidebar {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-top: 64px;
    align-items: center;
}

.posts-column-post {
    display: flex;
    padding-right: 125px;
    margin-top: 64px;
}

.posts-column-post__picture {
    width: 380px;
    height: 294px;
}

.posts-column-post__content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.posts-column-post__content__frame {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.posts-column-post__content__frame__category {
    display: flex;
    line-height: 10px;    
}

.posts-column-post__content__frame__category-name {
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
}


.posts-column-post__content__frame__category-name:hover {
    text-decoration: 2px underline #7a7331;    
}


.posts-column-post__content__frame__title {
    margin-top: 15px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    line-height: 24px;
}

.posts-column-post__content__frame__title:hover {
    color: #b59f5b;
}

.posts-column-post__content__frame__date-author {
    margin-top: 36px;
    display: flex;
    line-height: 10px;
}

.posts-column-post__content__frame__date-author__date {
    margin-right: 15px;
}

.date {
    font-size: 12px;
    color: #999999;
    line-height: 10px;
}

.posts-column-post__content__frame__date-author__author {
    margin-right: 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
}

.posts-column-post__content__text {
    font-size: 15px;
    margin-top: 55px;
    line-height: 22px;
}

.posts-sidebar-new-posts__post {
    margin-top: 29px;
    display: flex;
}

.posts-sidebar-new-posts__post-frame {
    margin-left: 19px;
}

.posts-sidebar-new-posts__post-frame__title {
    margin-top: 11px;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.posts-sidebar-new-posts__post-img {
    background-color: #f4f7f6;
    width: 70px;
    height: 70px;
    
}

.posts-sidebar-search {
    margin-top: 60px;
    display: flex;
}

#search-field {
    height: 48px;
    width: 222px;
    border: none;
    background-color: #f4f7f6;
    padding: 0; 
    padding-left: 18px;
    font-size: 13px;
    box-sizing: border-box;
}

#search-submit-button {
    height: 48px;
    width: 48px;
    border-radius: 0%;
    border: none;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#search-field:focus {
    border: 1px solid #b59f5b;
    border-bottom: 1px solid #e9e5d4;
    outline: none;
    padding-left: 17px;
}

.posts-sidebar-subscribe {
    margin-top: 61px;
}

.posts-sidebar-subscribe-form {
    margin-top: 23px;
}

#subscribe-field {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: #f4f7f6;
    border: none;
    padding-left: 18px;
}

#subscribe-field:focus {
    border: 1px solid #b59f5b;
    border-bottom: 1px solid #cec299;
    outline: none;
    padding-left: 17px;
}

#subscribe-submit {
    margin-top: 17px;
    width: 100%;
    height: 49px;
    background-color: #b59f5b;
    border: none;
    border-top: 1px solid #e1d9bd;
    color:white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.posts-sidebar-tags {
    margin-top: 61px;
}

.posts-sidebar-tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.posts-sidebar-tags-container__tag {
    line-height: 9px;
    text-transform: uppercase;
    padding: 8px 14px;
    border: 3px solid #ededed;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 6px;
    color: #000000;
}

.posts-sidebar-tags-container__tag:nth-child(3n) {
    margin-left: none;
}

.posts-sidebar-tags-container__tag:hover {
    border-color: #b59f5b;
}

.posts-sidebar-categories {
    margin-top: 61px;
    width: 100%;
}

.posts-sidebar-categories-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.posts-sidebar-categories-container__item {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #eeeeee;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    padding-top: 12px;
    box-sizing: border-box;
    line-height: 13px;
    color: #000;
  }

.posts-sidebar-categories-container__item:hover {
    color: #b59f5b;
}  

#count {
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
    color:#b59f5b;
    vertical-align: super;
}

.shop {
    margin-top: 65px;
}

.shop-title {
    text-align: center;
}

.shop-container {
    width: 1170px;
    margin: 28px auto;
    height: 440px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.shop-item {
    position: relative;
    width: 347px;
}

.shop-item:nth-child(2+n) {
    margin-left: 66px;
}

.shop-item__img {
    padding-left: 23px;
    padding-right: 23px;
}

.shop-item__content {
    position: absolute;
    bottom: 0px;
    border: 3px solid #d3c59d;
    width: 100%;
    height: 267px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 54px 19px 0px;
}

.shop-item__content__title {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
}

.shop-item__content__description {
    margin-top: 1px;
    margin-bottom: 0;
    font-size: 15px;
}

.text-link {
    text-decoration: none;
    color: #b59f5b;
}

.shop-item__content__price-submit {
    margin-top: 24px;
    display: flex;
    position: relative;
    font-size: 14px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 49px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 9px;
}

.previous-price {
    text-decoration: line-through;
}

.actual-price {
    font-size: 20px;
    margin-bottom: 9px;
}

.shop-item__content__price-submit__submit {
    width: 140px;
    height: 49px;
    position: absolute;
    right: 0;
    text-align: center;
    background-color: #b59f5b;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

.shop-item__content__price-submit__submit:hover {
    background-color: #323232;
}

footer {
    margin: 63px auto;
    width: 1170px;
    height: 83px;
    background-color: #f4f7f6;
}

.socials {
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 100%;
    margin: 0 480px;
}    

.socials-img {
    width: 25px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    color:#999999;
    padding-top: 74px;
    padding-bottom: 38px;
}

@media (max-width: 1199px) {
    
    body {
        width: 768px;
        margin: 0 auto;
        font-family: 'Open Sans';
    }
    
    .header__menu {
        visibility: hidden;
        position: absolute;
        right: 35px;
    }

    .header-btn-close {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23px;
    }

    .header-btn-close-shape {
        background-color: #ffffff;
        height: 2px;
        width: 100%;
    }
    .header__logo {
        left: 35px;
    }
    .header__intro {
        left: 81px;
        right: 81px;
        font-size: 39px;
    }
    .trends {
        margin-top: 50px;
        height: 545px;
    }
    .trends-container {
        flex-wrap: wrap;
        justify-content: space-between;
        height: 497px;
    }
    .trends-container-item {
        width: 49.5%;
        height: 49%;
    }

    .posts {
        width: 700px;
    }

    .posts-column {
        width: 427px;
    }

    .posts-column-post {
        flex-direction: column;
        margin-top: 41px;
        padding-right: none;
    }

    .posts-column-post:last-child > .posts-column-post__content {
        border-bottom: none;
    }

    .posts-column-post__content {
        margin-left: 0;
        width: 380px;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 23px;
    }

    .posts-column-post__content__frame {
        margin-top: 17px;
    }

    .posts-column-post__content__text {
        margin-top: 37px;
    }

    .shop {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }
    .shop-container {
        width:100%;
        flex-wrap: wrap;
        height:920px;
    }
    .shop-item {
        height: 435px;
    }     
    
    footer {
        width: 100%;
        margin: 50px auto;  
    }

    .socials {
        margin: 0 243px;
    }

    .copyright {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf'),
    url('../fonts/OpenSans-Regular.woff'),
    url('../fonts/OpenSans-Regular.woff2');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf'),
    url('../fonts/OpenSans-Bold.woff'),
    url('../fonts/OpenSans-Bold.woff2');
    font-weight: bold;
}